.card {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
    overflow: visible;
    position: relative;
}

.card-hd {
    display: flex;
    gap: 7px;
    padding: 20px;
}

.c-avatar {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
}

.c-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-meta {
    flex: 1;
    min-width: 0;
}

.c-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.c-date {
    font-size: 16px;
    color: #aaa;
}

.c-dots-wrap {
    cursor: pointer;
}

.c-img {
    overflow: hidden;
    position: relative;
}

.c-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.c-img-badges {
    position: absolute;
    bottom: 6px;
    left: 6px;
    display: flex;
    gap: 4px;

    background: #E8EBFF;
    color: #283DC1;
    padding: 10px 15px;
    border-radius: 10px;
}

.c-img-counts {
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: flex;
    gap: 4px;

    background: #EAEAEA;
    color: #818189;
    padding: 5px 10px;
    border-radius: 5px;
}

.c-body {
    padding: 20px 20px 10px 20px;
}

.c-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.45;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.c-text {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.c-text a {
    color: #283DC1;
    text-decoration: none;
}

.c-text a:hover {
    text-decoration: underline;
}

.c-foot {
    padding: 10px 20px 20px;
    /* border-top: 1px solid #f0f0f0; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.c-like {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: #666;
    padding: 0;
}

.c-like:hover,
.c-stat:hover,
.c-share:hover {
    color: #283DC1;
    cursor: pointer;
}

.c-like svg {
    width: 13px;
    height: 13px;
}

.c-stat {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: #666;
}

.c-stat svg {
    width: 12px;
    height: 12px;
}

.c-share {
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
}

.c-share:hover {
    color: #3b6cf7;
}

.c-share svg {
    width: 13px;
    height: 13px;
}
