<div class="card">
    <div class="card-hd">
        <div class="c-avatar">
            <img src="./icons/card-icon.png" alt="card-icon">
        </div>
        <div class="c-meta">
            <div class="c-name">SportClick</div>
            <div class="c-date">20 августа 2024 в 16:50</div>
        </div>
        <div class="c-dots-wrap">
            <img src="./icons/three-dots.png" alt="three-dots">
        </div>
    </div>

    <div class="c-img">
        <img src="./images/card-image.png" alt="card-images">
        <div class="c-img-badges">Хоккей</div>
        <div class="c-img-counts">1 из 6</div>
    </div>

    <div class="c-body">
        <div class="c-title">
            ЗаголовокЗаголовок ЗаголовокЗаго ловок ЗагловокЗаголовокЗаголовок заг оловокс...
        </div>
        <div class="c-text">
            Мы, команда НХЛ-центр, — профессионалы с большим тренерским опытом. Уже много лет мы делаем
            хоккей доступным для всех желающих, с 2013 года доступны делаем хоккей досту хоккей досту
            хоккей д...
            <a>дальше</a>
        </div>
    </div>

    <div class="c-foot">
        <div class="c-like"> <img src="./icons/like.png" alt="like"> Понравилось 321</div>
        <div class="c-stat"> <img src="./icons/chat.png" alt="chat"> 5</div>
        <div class="c-stat"> <img src="./icons/viewed.png" alt="viewed"> 321</div>
        <div class="c-share"> <img src="./icons/share.png" alt="share"> </div>
    </div>
</div>