<header class="header">
    <div class="header-inner">
        <a class="logo" href="#">
            <img src="./logo.png" alt="logo">
        </a>
        <div class="h-page-links">
            <button class="h-btn h-pages">Главное</button>
            <button class="h-btn h-pages">Сервисы</button>
        </div>
        <button class="h-btn h-add">
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none">
                <path d="M5.5 1v9M1 5.5h9" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" />
            </svg>
            Добавить объявление
        </button>
        <div class="h-sep"></div>
        <div class="h-icons">
            <div class="h-icon">
                <img src="./icons/incoming.png" alt="incoming">
                Аккаунт
            </div>
            <div class="h-icon">
                <img src="./icons/magazine.png" alt="incoming">
                Журнал
            </div>
            <div class="h-icon">
                <img src="./icons/wishful.png" alt="incoming">
                Желаемое
            </div>
            <div class="h-icon">
                <img src="./icons/basket.png" alt="incoming">
                Корзина
            </div>
            <div class="h-icon">
                <img src="./icons/notifications.png" alt="incoming">
                Уведомления
            </div>
            <div class="h-icon">
                <img src="./icons/login.png" alt="incoming">
                Войти
            </div>
        </div>
    </div>
</header>
